.svg-container {
    width: 24px; /* Adjust as needed */
    height: 22px; /* Adjust as needed */
  }
  
  #svg-path {
    transition: fill 0.3s ease;
  }
  
  .svg-container:hover #svg-path {
    fill: black;
  }
  
  .nav-item{
    font-size: small !important;
  }

  .server-info{
    font-size: medium !important;
  }

  .sidebar{
    height: 100px;
  }